html, header{
    background: none; /* Se schermo piccolo, background esterno non ha piu' senso */
}

#menu{
    float: none;
}

#breakingNews{
    float: none;
    width: auto;
    margin: 0;
}

main{
    margin-left: 0;
}

footer .imgValidCode {
    width: 20%;
}