ErrorDocument 404 /404.html

RewriteEngine On
RewriteRule ^registrazione\.html$ /registrazione.php [L,R=301]
RewriteRule ^login\.html$ /login.php [L,R=301]
RewriteRule ^test\_drive\.html$ /test_drive.php [L,R=301]