
* {
    sfondo: #bcbdfd;
    testo: #000000;
}
* {
    sfondo: #999afc;
    testo: #000000;
}
* {
    sfondo: #4e4ffa;
    testo: #ffffff;
}
* {
    sfondo: #3f3ee3;
    testo: #ffffff;
}
* {
    sfondo: #2f2ecc;
    testo: #ffffff;
}
* {
    sfondo: #ffffff;
    testo: #4e4ffa;
}

* {
    sfondo: #ffffff;;
    testo: #3e3e3e;
}

* {
    sfondo: #ffffff;
    testo: #696969;
}

testi_di_contenuto_[es_paragrafo_chi_siamo] {
    sfondo: #ffffff;
    testo: #000000;
}

link menu {
    sfondo: #000000;
    testo_link_non_visitato: #ffffff;
    testo_link_visitato: #999afc;
}

bottoni {
    sfondo: #2f2ecc;
    testo: #ffffff;
}

cards {
    sfondo: #4e4ffa;
    testo: #ffffff;
}

forms {
    sfondo: #ffffff;
    colore_bordo_input: #696969;
}