
* {
    sfondo: #f2bff8;
    testo: #000000;
}
* {
    sfondo: #e99ff2;
    testo: #000000;
}
* {
    sfondo: #da50e8;
    testo: #000000;
}
* {
    sfondo: #bb3ecb;
    testo: #000000;
}
* {
    sfondo: #9e2baf;
    testo: #ffffff;
}