
* {
    sfondo: #bcbdfd;
    testo: #000000;
}
* {
    sfondo: #999afc;
    testo: #000000;
}
* {
    sfondo: #4e4ffa;
    testo: #ffffff;
}
* {
    sfondo: #3f3ee3;
    testo: #ffffff;
}
* {
    sfondo: #2f2ecc;
    testo: #ffffff;
}
* {
    sfondo: #4e4ffa;
    testo: #ffffff;
}
* {
    sfondo: #3e3e3e;;
    testo: #ffffff;
}
* {
    sfondo: #696969;
    testo: #ffffff;
}
* {
    sfondo: #000000;
    testo: #ffffff;
}