:root {
    --content-text-bg-color: #ffffff;
    --content-text-color: #000000;

    --navbar-bg-color: #000000;
    --navbar-text-color: #ffffff;

    --link-bg-color: #000000;
    --not-visited-link: #ffffff;
    --visited-link: #999afc;

    --button-bg-color: #2f2ecc;
    --button-text-color: #ffffff;

    --cards-bg-color: #4e4ffa;
    --cards-text-color: #ffffff;

    --form-bg-color: #ffffff;
    --form-border-input-color: #696969;

    width: 100%;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body.purple {
    --bg-color: #4B0082;
    --text-color: #ffffff;
}

*{
    border: 0;
    margin: 0;
}

html, body{
    width: 100%;
}

body{
    background-color: var(--content-text-bg-color);
    color: var(--content-text-color);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    align-items: center;
}

/******************* 
        MENU
********************/

.topNavBar{
    background-color: black;
    color: white;
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hide{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h1.hide{
    background-image: url("../img/Logo/Logo\ Bianco\ Scritta.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
}

.topNavBar #disable{
    pointer-events: none;
}

#menu{
    list-style: none;
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
}

#menu a{
    padding: 0 1.2em;
    text-align: center;
    text-underline-offset: 0.3em;
    color: var(--not-visited-link);
    background-color: var(--link-bg-color);
}

#menu a:visited {
    color: var(--visited-link);
}

#menu #here a {
    text-decoration: none;
    pointer-events: none;
    background-color: var(--content-text-bg-color);
    color: var(--content-text-color);
    border-radius: 1em;
    padding: 0.4em 0.6em;
}

/******************* 
     BREADCRUMB
********************/

#breadcrumb{
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    width: 100%;
    margin-top: 3.5em;
    border-top: 1px solid var(--form-border-input-color);
    position: absolute;
}

#breadcrumb p{
    padding: 0.5em 0 0.5em 1em;
}

/*#region About us*/

/****************
    ABOUT US
*****************/

header{
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: url("../img/Background/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    color: var(--content-text-color);
    width: 100%;
}

header h1{
    color: var(--cards-text-color);
}

header h2 {
    margin-top: 2em;
    color: var(--cards-text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main p {
    font-size: 1.15em;
}

/*

main section {
    border: 0.2em solid var(--content-text-color);
    box-shadow: 0em 0em 1em black;
}

*/

section {
    margin-top: 4em;
    width: 80%;
}

section h3 {
    font-size: 1.5em;
}

section.history {
    line-height: 1.8em;
    display: inline-block;
    flex-direction: row;
    margin-top: 2em;
}

section.history h3 {
    margin-bottom: 0.5em;
}

section.history > img {
    object-fit: contain;
    width: 24em;
    border-radius: 0.5em;
}

#luzzauto h3 {
    text-align: center;
}

#luzzauto p {
    text-align: left;
}

/* ------------------ */

#dreamToReal h3 {
    text-align: right;
}

#dreamToReal p {
    text-align: justify;
}

#dreamToReal img {
    float: left;
    margin-right: 2em;
}

/* ------------------ */

#unique h3 {
    text-align: left;
}

#unique p {
    text-align: justify;
}

#unique img {
    margin-left: 2em;
    float: right;
}

/* ------------------ */

#mobility h3 {
    text-align: right;
}

#mobility p {
    text-align: justify;
}

#mobility img {
    float: left;
    margin-right: 4em;
}

/* ------------------ */

#future h3 {
    text-align: center;
}

/* ------------------ */

#ourNums {
    text-align: center;
}

#ourNums img {
    margin-top: 1.5em;
}

#ourNums dt {
    font-size: 1.3em;
    font-weight: 600;
}

/* ------------------ */

#reachUs {
    border-radius: 1em;
    width: 60%;
    margin-top: 3em;
    display: inline-block;
    text-align: center;
    padding: 0 1em 1em 1em;
}

#reachUs h3 {
    margin-top: 1em;
}

#reachUs img {
    margin-top: 1em;
    border-radius: 0.5em;
}

/* ------------------ */

#contactUs {
    display: inline-block;
    text-align: center;
}

/*#endregion About us*/

footer {
    margin-top: 1em;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 1em 0;
    width: 100%;
}

footer p{
    display: inline-flex;
    font-size: 0.8em;
    font-style: italic;
    padding: 0 1em;
}

.imgValidCode{
    vertical-align: middle;
}