:root {
    --content-text-bg-color: #ffffff;
    --content-text-color: #000000;

    --navbar-bg-color: #000000;
    --navbar-text-color: #ffffff;

    --link-bg-color: #000000;
    --not-visited-link: #ffffff;
    --visited-link: #999afc;

    --button-bg-color: #2f2ecc;
    --button-text-color: #ffffff;

    --cards-bg-color: #4e4ffa;
    --cards-text-color: #ffffff;

    --form-bg-color: #ffffff;
    --form-border-input-color: #919191;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body.purple {
    --bg-color: #4B0082;
    --text-color: #ffffff;
}

*{
    border: 0;
    margin: 0;
}

/******************* 
        MENU
********************/

.topNavBar{
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hide{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h1.hide{
    background-image: url("../img/Logo/Logo\ Bianco\ Scritta.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
}

.topNavBar #disable{
    pointer-events: none;
}

#menu{
    list-style: none;
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
}

#menu a{
    padding: 0 1.2em;
    text-align: center;
}

#menu #here a {
    text-decoration: none;
    pointer-events: none;
    background-color: var(--content-text-bg-color);
    color: var(--content-text-color);
    border-radius: 1em;
    padding: 0.4em 0.6em;
}

/******************* 
     BREADCRUMB
********************/

#breadcrumb{
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    width: 100%;
    margin-top: 3.5em;
    border-top: 1px solid var(--form-border-input-color);
    position: absolute;
}

#breadcrumb p{
    padding: 0.5em 0 0.5em 1em;
}

/******************* 
    STYLE COMUNE
********************/

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    align-items: center;
}

a{
    color: var(--not-visited-link);
    text-underline-offset: 0.3em;
}

a:visited {
    color: var(--visited-link);
    text-underline-offset: 0.3em;
}




/******************* 
    AMMINISTRATORE
********************/

#admin_body{
    background-image: url(/LuzzAuto/assets/img/Background/LuzzAuto_facciata1.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size:cover;
}


.admin_content{
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    padding: 2em;
    border-radius: 1.5em;
    margin-top: 8em;
    width: 66vw;
    height: auto;
}

.admin_content > h1{
    text-align: center;
}


.riquadriAdmin{ 
    border-radius: 0.5em;
    border: 1px solid var(--form-border-input-color);
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    margin: 0 3em 2em 3em;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    padding-left: 1em;
    margin-top: 3em;
    padding: 2em; 
}


.nomeRiqAdmin{
    background-color: var(--navbar-bg-color);
    margin-left: 1em;
    position: absolute;
    padding: 0 0.5em;
    margin-top: -1.9em;
    color: var(--form-border-input-color);
}
    

.nomeRiqPrenAdmin{
    color: var(--form-border-input-color);
    padding-left: 3em;
    padding-top: 1em;
}
    


/* tabella prenotazione */
.tabellaPrenAdmin {
    width: calc(100% - 6em); /* 100% meno il padding a sinistra e a destra */
    border-collapse: collapse;
    margin: 1em auto; 
}

.tabellaPrenAdmin thead {
    background-color: var(--navbar-bg-color);
    color: var(--form-border-input-color);
}

.tabellaPrenAdmin th, .tabellaPrenAdmin td {
    text-align: left;
    padding: 0.8em;
    border: 1px solid var(--form-border-input-color);
}

.tabellaPrenAdmin date{
    display: block;
}

/*Gestione prenotazione*/

.sectionGestPrenAdmin {
    display: grid;
    grid-template-columns: 1fr 1fr auto; 
    column-gap: 1em;
    align-items: start; 
    margin: 1em 0;
}

#labelPrenAdmin {
    grid-column: 1; 
    grid-row: 1; 
}
#gestPrenAdmin {
    grid-column: 1; 
    grid-row: 2;
    padding: 0.4em;
    border: 1px solid white; 
    border-radius: 4px; 
    background-color:black; 
    color: var(--form-border-input-color); 
    font-size: 16px;
    cursor: pointer;
}
#labelAzioneAdmin {
    grid-column: 2; 
    grid-row: 1; 
}
#azioneAdmin {
    grid-column: 2; 
    grid-row: 2;
    padding: 0.4em;
    border: 1px solid white; 
    border-radius: 4px; 
    background-color:black; 
    color: var(--form-border-input-color); 
    font-size: 16px;
    cursor: pointer; 
}

#inviaAzioneAdmin{
    grid-column: 3; 
    grid-row:   2;
    align-self: center; 
    justify-self: end;
    padding: 0.5em 1.5em; 
    font-size: 16px; 
    border-radius: 5px;
}


/*Aggiungi Automobile*/
#formAdmin {
    display: flex;
    flex-wrap: wrap;
}

#labelMarcaAdmin, #labelModelloAdmin, #labelAnnoAdmin, #labelColoreAdmin,
#labelAlimAdmin, #labelCambioAdmin, #labelTrazioneAdmin, #labelPotenzaAdmin, 
#labelPesoAdmin, #labelPostiAdmin, #labelCondizioniAdmin, #labelChilometriAdmin,
#labelPrezzoAdmin, #labelNeopAdmin{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: var(--text-color);
}

#marcaAdmin, #modelloAdmin, #annoAdmin, #coloreAdmin, #alimentazioneAdmin, 
#cambioAdmin, #trazioneAdmin, #potenzaAdmin, #pesoAdmin, #numero_postiAdmin, 
#condizioneAdmin, #chilometraggioAdmin, #prezzoAdmin{
    margin-bottom: 1em;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formAdmin > * {
    
    flex-grow: 1;
    /*flex-shrink: 1;*/
    flex-basis: 50%;
}

#bottoneAggiungi{
    margin-top: 2em;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/*Elimina Automobile*/

.sectionEliminaAdmin{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1em;
    align-items: start;
    margin: 1em 0;
}

#labelEliminaAutoAdmin{
    grid-column: 1;
    grid-row: 1;
}

#eliminaAutoAdmin{
    grid-column: 1;
    grid-row: 2;
    padding: 0.5em;
    border: 1px solid white; 
    border-radius: 4px; 
    background-color:black; 
    color: var(--form-border-input-color); 
    font-size: 16px;
    cursor: pointer; 
}

#eliminaButtonAdmin{
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: end;
    padding: 0.5em 1.5em;
    font-size: 16px;
    border-radius: 5px;
}








