:root {
    --content-text-bg-color: #ffffff;
    --content-text-color: #000000;

    --navbar-bg-color: #000000;
    --navbar-text-color: #ffffff;

    --link-bg-color: #000000;
    --not-visited-link: #ffffff;
    --visited-link: #999afc;

    --button-bg-color: #2f2ecc;
    --button-text-color: #ffffff;

    --cards-bg-color: #4e4ffa;
    --cards-text-color: #ffffff;

    --form-bg-color: #ffffff;
    --form-border-input-color: #696969;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body.purple {
    --bg-color: #4B0082;
    --text-color: #ffffff;
}

*{
    border: 0;
    margin: 0;
}

html, body {
    width: 100%;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    align-items: center;
}

/******************* 
        MENU
********************/

.topNavBar{
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hide{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h1.hide{
    background-image: url("../img/Logo/Logo\ Bianco\ Scritta.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
}

.topNavBar #disable{
    pointer-events: none;
}

#menu{
    list-style: none;
    display: none;
    flex-direction: column;
    margin-top: 3.5em;
    text-align: center;
    padding-left: 0;
}

#menu li{
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu a{
    display: block;
    flex-direction: row;
    color: var(--navbar-text-color);
    text-decoration: underline;
    text-underline-offset: 0.3em;
    font-size: 1.2em;
}

#menu #here{
    background-color: white;
    border-radius: 1em;
    align-self: center;
}

#menu a:visited {
    color: var(--visited-link);
}

#menu #here a {
    text-decoration: none;
    pointer-events: none;
    background-color: var(--content-text-bg-color);
    color: var(--content-text-color);
    border-radius: 1em;
    padding: 0.4em 0.6em;
}

.topNavBar #menu-button-container {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0.5em;
    justify-content: space-between
}

.topNavBar #menu-button-container .menu-button-bar1,
.topNavBar #menu-button-container .menu-button-bar2,
.topNavBar #menu-button-container .menu-button-bar3 {
    width: 2em;
    height: 0.3em;
    background-color: white;
    border-radius: 1em;
    margin: 0.4em 0;
    transition: 0.4s;
}

.change .menu-button-bar1 {
    transform: translate(0, 0.7em) rotate(-45deg);
}
  
.change .menu-button-bar2 {opacity: 0;}
  
.change .menu-button-bar3 {
    transform: translate(0, -0.7em) rotate(45deg);
}

/******************* 
     BREADCRUMB
********************/

#breadcrumb{
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    width: 100%;
    margin-top: 3.5em;
    border-top: 1px solid var(--form-border-input-color);
    border-bottom: 1px solid var(--form-border-input-color);
    position: absolute;
}

#breadcrumb p{
    padding: 0.5em 0 0.5em 1em;
}

/*#region About us*/

/****************
    ABOUT US
*****************/

/*#endregion About us*/

header{
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: url("../img/Background/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    width: 100%;
}

header h1{
    margin: 1em 1em 0.5em 1em;
    line-height: 1em;
}

header h2 {
    margin-top: 1em;
    color: var(--cards-text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*

main section {
    border: 0.2em solid var(--content-text-color);
    box-shadow: 0em 0em 1em black;
}

*/

#history {
    border-radius: 1em;
    margin-top: 2em;
    display: inline-block;
    padding: 0 1em 1em 1em;
    width: 80%;
}

#history h3 {
    margin-top: 1em;
}

#history p {
    margin-top: 0.3em;
    display: flex;
}

#ourNums {
    border-radius: 1em;
    width: 60%;
    margin-top: 3em;
    display: inline-block;
    text-align: center;
    padding: 0 1em 1em 1em;
}

#ourNums span {
    margin-top: 1em;
}

#ourNums h3 {
    margin-top: 1em;
}

#reachUs {
    border-radius: 1em;
    width: 70%;
    margin-top: 3em;
    display: inline-block;
    text-align: center;
    padding: 0 1em 1em 1em;
}

#reachUs h3 {
    margin-top: 1em;
}

footer {
    margin-top: 1em;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    width: max-content;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 1em;
}

footer p{
    display: inline;
    font-size: 0.8em;
    font-style: italic;
}

.imgValidCode{
    vertical-align: middle;
}