:root {
    --content-text-bg-color: #ffffff;
    --content-text-color: #000000;

    --navbar-bg-color: #000000;
    --navbar-text-color: #ffffff;

    --link-bg-color: #000000;
    --not-visited-link: #ffffff;
    --visited-link: #999afc;

    --button-bg-color: #2f2ecc;
    --button-text-color: #ffffff;

    --cards-bg-color: #4e4ffa;
    --cards-text-color: #ffffff;

    --form-bg-color: #ffffff;
    --form-border-input-color: #696969;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body.purple {
    --bg-color: #4B0082;
    --text-color: #ffffff;
}

*{
    border: 0;
    margin: 0;
}

/******************* 
        HOME
********************/

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    align-items: center;
}

.topNavBar{
    background-color: black;
    color: white;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    border-radius: 1em;
    width: 98%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.5em;
}

.topNavBar .logo {
    margin-right: 100em;
    padding: 0 0 0 1em;
}

.topNavBar .logo img {
    width: 8em;
}

.topNavBar #breadcrumb {
    position: fixed;
    align-self: center;
}

#menu{
    list-style: none;
    display: none;
    flex-direction: column;
    margin-top: 1.5em;
    text-align: center;
    padding-left: 0;
}

#menu a{
    display: block;
    flex-direction: row;
    color: var(--navbar-text-color);
    text-decoration: underline;
    text-underline-offset: 0.3em;
    font-size: 1.2em;
    padding-top: 1em;
}

#menu #here{
    background-color: white;
    margin: 0 auto;
    border-radius: 1em;
}

#menu #here a {
    text-decoration: none;
    pointer-events: none;
    color: var(--content-text-color);
    padding: 0.4em 0.6em;
}

.topNavBar #menu-button-container {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0.5em;
    justify-content: space-between
}

.topNavBar #menu-button-container .menu-button-bar1,
.topNavBar #menu-button-container .menu-button-bar2,
.topNavBar #menu-button-container .menu-button-bar3 {
    width: 2em;
    height: 0.3em;
    background-color: white;
    border-radius: 1em;
    margin: 0.4em 0;
    transition: 0.4s;
}

.change .menu-button-bar1 {
    transform: translate(0, 0.7em) rotate(-45deg);
}
  
.change .menu-button-bar2 {opacity: 0;}
  
.change .menu-button-bar3 {
    transform: translate(0, -0.7em) rotate(45deg);
}

header{
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: url("../img/Background/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    color: white;
    width: 100%;
}

header h1{
    margin-bottom: 1em;
}