:root {
    --content-text-bg-color: #ffffff;
    --content-text-color: #000000;

    --navbar-bg-color: #000000;
    --navbar-text-color: #ffffff;
    
    --header-bg-color: #000000;
    --header-text-color: #ffffff;

    --link-bg-color: #000000;
    --not-visited-link: #ffffff;
    --visited-link: #999afc;

    --button-bg-color: #2f2ecc;
    --button-text-color: #ffffff;

    --cards-bg-color: #4e4ffa;
    --cards-text-color: #ffffff;

    --form-bg-color: #ffffff;
    --form-border-input-color: #696969;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body.purple {
    --bg-color: #4B0082;
    --text-color: #ffffff;
}

*{
    border: 0;
    margin: 0;
}

html, body {
    width: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    align-items: center;
}

/******************* 
        MENU
********************/

.topNavBar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h1.hide {
    background-image: url("../img/Logo/Logo\ Bianco\ Scritta.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
}

.topNavBar #disable {
    pointer-events: none;
}

#menu {
    list-style: none;
    display: none;
    flex-direction: column;
    margin-top: 3.5em;
    text-align: center;
    padding-left: 0;
    transition: 1s;
}

#menu li {
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu a {
    display: block;
    height: 100%;
    color: var(--navbar-text-color);
    text-decoration: underline;
    text-underline-offset: 0.3em;
    font-size: 1.2em;
}

#menu #here {
    background-color: white;
    border-radius: 1em;
    align-self: center;
}

#menu a:visited {
    color: var(--visited-link);
}

#menu #here a {
    text-decoration: none;
    pointer-events: none;
    background-color: var(--content-text-bg-color);
    color: var(--content-text-color);
    border-radius: 1em;
    padding: 0.4em 0.6em;
}

.topNavBar #menu-button-container {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0.5em;
    justify-content: space-between
}

.topNavBar #menu-button-container .menu-button-bar1,
.topNavBar #menu-button-container .menu-button-bar2,
.topNavBar #menu-button-container .menu-button-bar3 {
    width: 2em;
    height: 0.3em;
    background-color: white;
    border-radius: 1em;
    margin: 0.4em 0;
    transition: 0.4s;
}

.change .menu-button-bar1 {
    transform: translate(0, 0.7em) rotate(-45deg);
}
  
.change .menu-button-bar2 {opacity: 0;}
  
.change .menu-button-bar3 {
    transform: translate(0, -0.7em) rotate(45deg);
}

/******************* 
     BREADCRUMB
********************/

#breadcrumb{
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    width: 100%;
    margin-top: 3.5em;
    border-top: 1px solid var(--form-border-input-color);
    border-bottom: 1px solid var(--form-border-input-color);
    position: absolute;
}

#breadcrumb p{
    padding: 0.5em 0 0.5em 1em;
}

/*#region About us*/

/****************
    ABOUT US
*****************/

/* HEADER */

#aboutUs_header {
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: url("../img/Background/Luzzauto/header_image_Luzzauto_dark.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: right;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    width: 100%;
    height: 17em;
}

#aboutUs_header h1 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

#aboutUs_header p {
    margin: 1em auto 0 auto;
    font-size: 1.5em;
    max-width: 12em;
}

#aboutUs_header h2 {
    margin-top: 2.5em;
    font-size: 2.2em;
}

#aboutUs_header .aboutUs_text {
    text-align: right;
    margin-right: 10%;
}

/* MAIN */

#aboutUs_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#aboutUs_main h2 {
    font-size: 2em;
    margin-top: 2em;
    font-weight: 500;
}

#aboutUs_main p {
    font-size: 1.15em;
}

/** HISTORY **/

section.aboutUs_history {
    border-radius: 1em;
    margin-top: 2em;
    display: inline-block;
    padding: 0 1em 1em 1em;
    width: 90%;
    text-align: center;
}

section.aboutUs_history h3 {
    font-weight:450;
    font-size: 1.8em;
    margin-top: 1em;
    line-height: 1.2em;
}

section.aboutUs_history p {
    font-weight: 300;
    margin-top: 0.5em;
}

section.aboutUs_history img {
    object-fit: contain;
    width: 20em;
    border-radius: 0.7em;
}

/* NUMS */

#aboutUs_ourNums {
    margin-top: 3em;
    display: inline-block;
    text-align: center;
    padding-bottom: 3em;
    background-color: #dfdfdf;
    width: 100%;
}

#aboutUs_ourNums h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#aboutUs_ourNums img {
    margin-top: 1.5em;
    object-fit: contain;
    width: 3em;
}

#aboutUs_ourNums p {
    margin: 0 1em 0;
}

/* LOCATION */

#aboutUs_reachUs {
    border-radius: 1em;
    width: fit-content;
    margin: 3em 0;
    display: inline-block;
    text-align: center;
    padding: 0 1em 1em 1em;
}

#aboutUs_reachUs h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#aboutUs_reachUs img {
    object-fit: contain;
    width: 100%;
    border-radius: 1em;
}

/* OUR TEAM */

#aboutUs_ourTeam {
    background-image: url("../img/Pictures/Luzzauto/interni_Luzzauto.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--content-text-bg-color);
    color: var(--content-text-color);
    margin-top: 2em;
    text-align: center;
}

#aboutUs_ourTeam > dl {
    margin-top: 2em;
}

#aboutUs_ourTeam > dl > div {
    margin: 0 auto 4em;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5em;
    width: 85%;
    padding: 1em 0 1em;
}

#aboutUs_ourTeam > dl > div > img{
    object-fit: contain;
    border-radius: 50%;
    width: 13em;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3)
}

#aboutUs_ourTeam > dl > div > dt {
    margin-top: 1em;
    font-weight:450;
    font-size: 1.3em;
}

#aboutUs_ourTeam > dl > div > dd {
    margin: 1em 2.5em 1em;
    font-weight: 300;
    font-size: 1.1em;
}

/*#endregion About us*/

footer {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    width: max-content;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 1em 0;
    width: 100%;
    
}

footer p{
    display: inline;
    font-size: 0.8em;
    font-style: italic;
    padding: 0 1em;
}

.imgValidCode{
    vertical-align: middle;
    object-fit: contain;
}