*{
    padding: 0em;
    margin: 0em;
}

/* VCAG: estensione chrome per verificare i contrasti all'interno di un sito */

:root{
    --bgcolor:#0365AE;
    --txtcolor:#FFF;
    --breadcolor:#163F77;
    --newscolor:#F3C42B;
    --contenttxtcolor:#000;
    --contentbgcolor:#FFF;
    --linkcolor:#FFF;
    --visitedcolor:#F3C42B;
}

html, body{
    color: var(--txtcolor);
    background-color: var(--bgcolor);

}

html{
    background-image: url("/images/bg.webp");
    background-attachment: fixed;
    background-size: contain;
}

body{
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "h h"
    "b b"
    "m c"
    "f f";
}

#homepage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "h h h"
    "b b b"
    "m c n"
    "f f f";
}

/*
==============
SEZIONE HEADER
==============
*/

header{
    padding: 0em 1em;
    text-align: center;
    background: url("/images/paola-egonu.webp") bottom right no-repeat,
                url("/images/orro-medaglia.jpeg") top left no-repeat;
    background-size: 20%, 20%;
    margin: 1em;
    grid-area: h;
}

header h1{
    font-size: 6em;
    line-height: 1.5em;
    background-image: url(/images/logo_fipav.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;               /* cosi' andiamo a spostare il testo al di fuori del pagina, in modo che possa essere letto dallo screen-reader, ma che venga visualizzata l'immagine*/

}


/*
==============
SEZIONE BREADCRUMB
==============
*/

#breadcrumb{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    grid-area: b;
}

/*
==============
SEZIONE MENU
==============
*/
#menu{
    grid-area: m;
    padding-left: 1.5em;
}

#menu a:link{
    color: var(--linkcolor);
}

#menu a:visited{
    color: var(--visitedcolor);
}

#menu > ul {
    list-style-type: none;
}

#currentLink {
    /* margin             distanza dal bordo all'immagine dell'elenco */
    /* padding            distanza dall'immagine dell'elenco al testo interno */
    /*
    list-style-image: url(/images/favicon-16x16.png);
    margin-left: 2em;
    padding-left: 0;
    */
    background-image: url(/images/favicon-16x16.png);
    background-size: 1.3em;
    background-repeat: no-repeat;
    padding-left: 2em;
}

/*
==============
SEZIONE CONTENUTO
==============
*/

main{
    background-color: var(--contentbgcolor);
    color: var(--contenttxtcolor);
    grid-area: c;

    padding: 1.75em;
}

main h1{
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
}

main h2{
    line-height: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

main > dl{
    width: 95%;;
}

main li {
    list-style-image: url(/images/favicon-16x16.png);
    margin-left: 2em;             /* distanza dal bordo all'immagine dell'elenco */
    padding-left: 0.5em;            /* distanza dall'immagine dell'elenco al testo interno */
}

#premi dt {
    background-image: url(/images/coppa.png);
    padding-left: 2.5em;
    background-size: 2em;
    background-repeat: no-repeat;
}

#premi dd {
    padding-left: 2.5em;
}

/*
==============
SEZIONE NEWS
==============
*/

#breakingNews{
    
    border: 1px solid #000;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    padding: 0.5em;          /* padding -> spazio dal bordo interno al testo interno*/
    margin-top: 1em;        /* margin -> spazio dal bordo esterno al bordo interno del tag superiore */
    margin-right: 2%;
    margin-left: 3%;
    grid-area: n;
}

#breakingNews > h2{
    background-color: var(--newscolor);
    color: var(--contenttxtcolor);
    padding: 0.3em;
}

#breakingNews dl dd {
    margin-left: 1.5em;
}

#breakingNews dt{
    margin-left: 0.8em;
    font-weight: bold;
}

/*
==============
SEZIONE FOOTER
==============
*/

footer p{
    display: inline;
    font-size: 0.8em;
    font-style: italic;
}

footer{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    text-align: center;
    grid-area: f;
}

.imgValidCode{
    vertical-align: middle;
}

/*
==============
PAGINA SQUADRA
==============
*/

.giocatrici > dt{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em;
}

.giocatrici > dd{
    border: 1px solid #000;
    padding-top: 1em;
    padding-left: 1em;
    min-height: 130px;
}

/*
==============
FLOAT
==============
*/

/*

.giocatrici{
    margin-left: 1em;
}

.giocatrici > dd img{
    float: left;
    min-width: 85px;
    width: 20%;
    margin-right: 1em;
}

.giocatrici > dd p, .giocatrici > dd dl{
    margin-left: 25%;
}

.giocatore dt{
    float: left;
    font-weight: bold;
    padding-right: 0.5em;
}

.giocatore dt::after{
   /* content rimpiazza il contenuto precedente 
    content: ": ";
}

dt.riconoscimenti{
    float: none;
}

*/

/*
==============
GRID
==============
*/

.giocatoreGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "i t";
}

.giocatoreGrid > img {
    grid-area: i;
}

.giocatoreGrid > dl {
    grid-area: t;
}

.giocatoreGrid img {
    min-width: 85px;
    width: 20%;
}

.giocatore dt{
    float: left;
    font-weight: bold;
    padding-right: 0.5em;
}

.giocatore dt::after{
    content: ":";
}

dt.riconoscimenti{
    float: none;
}

/*
==============
AIUTI ALLA NAVIGAZIONE
==============
*/

.navHelp {
    position: absolute;
    text-indent: -999em;
}

.navHelp:focus {
    position: static;
    text-indent: 0;
}

.listHelp ul {
    list-style-type: none;
}

/*
==============
TABELLA
==============
*/

