:root {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body.purple {
  --bg-color: #4B0082;
  --text-color: #ffffff;
}
